<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <aside>
    <img class="w-20" src="mralogo.png" alt="">
    <p>

      HERRERIA Y SOLDADURA INTEGRAL <br>
      INDUSTRIAS | COMERCIOS | PARTICULARES
    </p>
  </aside>
  <div class="text-center w-full">
    <p class="w-full">Desarrollado por <span ><a class="text-md md:text-7xl font-extrabold tracking-tight bg-gradient-to-r from-sky-500 via-orange-500 to-violet-600 bg-clip-text text-transparent" href="https://nerobyte.dev">Neurobyte</a></span> </p>
  </div>
</footer>
